<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>Deşifreleme Uygulaması - Ana Sayfa</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <h1 class="page-title">Kriptoloji</h1>
    <p class="subtitle">Klasik deşifreleme algoritmalarını öğrenin ve test edin</p>

    <!-- Klasik Şifreleme Kartları -->
    <h2> Klasik Deşifreleme Yöntemleri</h2>
    <div class="card-grid">

        <a class="card" href="{{ url_for('decrypt_page', algo='caesar') }}">Caesar Cipher</a>
        <a class="card" href="{{ url_for('decrypt_page', algo='substitution') }}">Substitution Cipher</a>
        <a class="card" href="{{ url_for('decrypt_page', algo='affine') }}">Affine Cipher</a>
        <a class="card" href="{{ url_for('decrypt_page', algo='vigenere') }}">Vigenère Cipher</a>
        <a class="card" href="{{ url_for('decrypt_page', algo='playfair') }}">Playfair Cipher</a>
        <a class="card" href="{{ url_for('decrypt_page', algo='railfence') }}">Rail Fence Cipher</a>
        <a class="card" href="{{ url_for('decrypt_page', algo='rot') }}">ROT Cipher</a>
        <a class="card" href="{{ url_for('decrypt_page', algo='columnar') }}">Columnar Transposition Cipher</a>
        <a class="card" href="{{ url_for('decrypt_page', algo='polybius') }}">Polybius Cipher</a>
        <a class="card" href="{{ url_for('decrypt_page', algo='pigpen') }}">Pigpen Cipher</a>
        <a class="card" href="{{ url_for('decrypt_page', algo='hill') }}">Hill Cipher</a>

    </div>

    <div class="bottom-links">
        <a class="btn-secondary" href="{{ url_for('chat_server') }}">Chat’e Git</a>
        <a class="btn-secondary" href="{{ url_for('index_client') }}">Şifrelemelere Git</a>
    </div>
</div>

</body>
</html>