<!DOCTYPE html>
<html lang="tr">
    <head>
        <meta charset="UTF-8">
        <title>Şifreleme Uygulaması</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <h1>Şifreleme Algoritmaları</h1>

        <div class="algo-list">
            <h2>Mevcut Şifreleme Yöntemleri</h2>
            <ul>
                <li><a href="{{ url_for('encrypt_page', algo='caesar') }}">Caesar Cipher</a></li>
                <li><a href="{{ url_for('encrypt_page', algo='substitution') }}">Substitution Cipher</a></li>
                <li><a href="{{ url_for('encrypt_page', algo='affine') }}">Affine Cipher</a></li>
                <li><a href="{{ url_for('encrypt_page', algo='vigenere') }}">Vigenère Cipher</a></li>
                <li><a href="{{ url_for('encrypt_page', algo='playfair') }}">Playfair Cipher</a></li>
                <li><a href="{{ url_for('encrypt_page', algo='railfence') }}">Rail Fence Cipher</a></li>
                <li><a href="{{ url_for('encrypt_page', algo='rot') }}">Route Cipher</a></li>
                <li><a href="{{ url_for('encrypt_page', algo='columnar') }}">Columnar Transposition Cipher</a></li>
                <li><a href="{{ url_for('encrypt_page', algo='polybius') }}">Polybius Cipher</a></li>
                <li><a href="{{ url_for('encrypt_page', algo='pigpen') }}">Pigpen Cipher</a></li>
                <li><a href="{{ url_for('encrypt_page', algo='hill') }}">Hill Cipher</a></li>
            </ul>
        </div>

        <div class="server-link">
            <a href="{{ url_for('index_server') }}">Deşifreleme (Server)</a>
        </div>
    </body>
</html>
